{% extends "base.html" %}
{% block title %}About - {{ super() }}{% endblock %}
{% block content %}
    <h2>About</h2>
    <p>I am Richard Harris, a full-stack and mobile programmer who finds Japanese and Unicode
    particularly interesting. Currently based in the UK but looking for employment in Japan.
    <a href="/static/richard_harris_resume.pdf">Resume</a>・<a href="mailto:richardjharris@gmail.com">Email</a>.</p>
    <h4>Selected projects</h4>
    <h5>Yomikun</h5>
    <p>A database of Japanese given names and surnames extracted from the web and made available
    in the form of a desktop and mobile application. Easily find the most likely reading(s) of
    a kanji name, or the most common kanji forms of a written name. Quiz mode and various statistics
    also available. <span style="font-weight: bold; color: #0969da">(coming soon)</span>.
    <h5><a href="https://github.com/richardjharris/japanese_year_calculator">Japanese Year Calculator</a>
    <p>Flutter mobile/desktop app to convert between Japanese and Western years.
    <a href="https://play.google.com/store/apps/details?id=io.github.richardjharris.JapaneseYearCalculator">
      Google Play Store link
    </a>.
    <h5><a href="https://richardjharris.github.io/deemo-song-list/">Deemo Song List</a>
    <p>Filterable list of all songs in the music game Deemo. Written in React. <a href="https://github.com/richardjharris/deemo-song-list">Source code</a>.
    <h5>Algorithm-AhoCorasick-XS
    <p>Perl/XS/C++ module to perform fast Aho-Corasick string search. <a href="https://github.com/richardjharris/Algorithm-AhoCorasick-XS">Source code</a>.
    <h4>Random toys</h4>
    <ul>
        <li><a href="https://richardjharris.github.io/webaudio.html">WebAudio synthesizer</a>
        <li><a href="https://richardjharris.github.io/yajirin/">Yajirin puzzle</a>
        <li><a href="https://github.com/richardjharris/adventofcode-2019">My Advent of Code 2019 solutions</a>.
    </ul>
    <h4>Blog source code</h4>
    <p><a href="https://github.com/richardjharris/richardjharris.github.io">Available on GitHub</a>.</p>
{% endblock content %}
