<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
<!-- <link href='http://fonts.googleapis.com/css?family=Palanquin' rel='stylesheet' type='text/css'> -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{% block title %}richardharris.github.io{% endblock %}</title>
<meta name="description" content=""/>
<meta name="author" content="Richard Harris"/>
<meta name="copyright" content="Richard Harris (c) {{current_year}}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}"/>
<!-- modernizer slows down the page, and we're not using it -->
<!-- <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script> -->
</head>
<body>

<div class="row">
<div class="large-12 columns">
<div class="nav-bar right">
<ul class="button-group">
<li><a href="{{ url_for("index") }}" class="button">Home</a></li>
<li><a href="{{ url_for("about") }}" class="button">About</a></li>
<li><a href="{{ url_for("featured") }}" class="button">Featured</a></li>
</ul>
</div>
<h1><a href="{{ url_for("index") }}" class="logo">
richardjharris</a><small>.github.io</small></h1>
<hr/>
</div>
</div>


<div class="row">

<div class="large-9 columns" role="content">
{% block content %}{% endblock content %}
</div>


<aside class="large-3 columns sidebar">
<div class="panel">
<h5>First time here?</h5>
<p>Have a look at my <a href="{{ url_for('featured') }}">featured articles</a>.</p>
</div>
<h5>Categories</h5>
<ul class="side-nav">
{% for category in all_categories.keys()|sort %}
<li><a href="{{ url_for('category', category=category) }}">{{ category }}</a></li>
{% endfor %}
</ul>
<h5>Tags</h5>
<ul class="side-nav taglist">
{% for tag, count in all_tags.most_common() %}
<li><a href="{{ url_for('tag', tag=tag) }}">{{ tag }} ({{ count }})</a></li>
{% endfor %}
</ul>
</a>
<h5>Other sites</h5>
<ul class="side-nav taglist">
<li><a href="https://github.com/richardjharris">GitHub</a></li>
</ul>
<div class="text-center">
<!-- stackoverflow badge. slow so lazy-load it -->
<a href="http://stackoverflow.com/users/74496/rjh">
<img id="stack" data-original="http://stackoverflow.com/users/flair/74496.png"
    width="208" height="58" alt="Link to stackoverflow profile"
    title="stackoverflow profile">
    <noscript>
    <img src="http://stackoverflow.com/users/flair/74496.png"
    width="208" height="58" alt="Link to stackoverflow profile"
    title="stackoverflow profile">
    </noscript>
</a>
<!-- end badge -->
</div>
</aside>

</div>

<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; Richard Harris {{this_year}}.</p>
</div>
<div class="large-6 columns">
<p class="right">
Made with <a href="http://foundation.zurb.com/">Foundation</a> and <a href="http://flask.pocoo.org">Flask</a>.
</p>
</div>
</div>
</div>
</footer>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.css" />
<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/basic/jquery.qtip.min.js"></script>
<script src="{{ url_for('static', filename='js/unicode-tooltips.js') }}"></script>
<script>
      $(document).ready(function(){
        $('.unichar').each(add_unicode_tooltip);
        $('.an').each(add_annotation_tooltip);
        // For debugging tooltip HTML
        // $('.an').each(function() { $(this).qtip('toggle', true); });

        $('#stack').attr('src', $('#stack').data('original'));
      });
    </script>
</body>
</html>
